---
---

@import "{{ site.theme }}";

#header nav {
    background-color: #ffffff00;
}

section #title {
    margin-bottom: 5px;
}

section #footer {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

section #footer .credits {
    font-size: 11px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #696969;
    margin-top: -10px;
}

section #footer .credits.left {
    float: left;
}

section #footer .credits.right {
    float: right;
}

