---
---

@import "{{ site.theme }}";

#header nav {
    background-color: #ffffff00;
}

section #title {
    margin-bottom: 0px;
}

section #title .credits.left {
    float: left;
}

section #title .credits.right {
    float: right;
}